<h2>Students list</h2>

<div>
    <button (click)="toogleDisplay()" class="btn btn-secondary">Zmień sposób wyświetlania</button>
</div>

<div *ngIf="isDataLoaded === false" class="spinner-border text-primary"
    style="margin:auto;left:50%;position:absolute;top:50%" role="status">
</div>

<div *ngIf="isErrorOccured === true" class="alert alert-danger" role="alert" style="margin-top:10px">
    Nie udało się pobrać danych! Wystąpił błąd!
</div>

@if(isTableVisible == true){
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>First name and Last name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @for(student of students; track student.id){
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
        </tr>
        }
    </tbody>
</table>
} @else {
<ol class="list-group">
    @for(student of students;track student.id){
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">{{student.name}}</div>
            {{student.email}}
        </div>
        <span class="badge text-bg-primary rounded-pill">Id: {{student.id}}</span>
    </li>
    }
</ol>
}